.logo {
  height: auto;
  width: 8em;
  padding: 0;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}